In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv("../../data/external/stanford/misogyny_training.csv")
df_test = pd.read_csv("../../data/external/stanford/misogyny_test.csv")

In [3]:
df_train.shape

(29959, 2)

In [4]:
df_test.shape

(1076, 2)

In [5]:
df = pd.concat((
    df_train,
    df_test
)).reset_index(drop=True)

In [6]:
df.head()

                                      content  label
0                       The new Doras cute af      2
1                        @minniemonikive well      2
2                               Rolou o skank      1
3                 @AOC https//t.co/lbNOwMK1p2      1
4  @tangletorn We will be killed by a snake 3      2

In [7]:
df['label'] = df['label'].where(df['label']==1, 0)

In [8]:
df

                                                 content  label
0                                  The new Doras cute af      0
1                                   @minniemonikive well      0
2                                          Rolou o skank      1
3                            @AOC https//t.co/lbNOwMK1p2      1
4             @tangletorn We will be killed by a snake 3      0
...                                                  ...    ...
31030  bitches really be fucking nosey like FUCK bitc...      1
31031  shes a fucking WHORE A WHORE https//t.co/sIttP...      1
31032           you fucking whore https//t.co/BCzxaVJNSb      1
31033  All these bitches whores I guess you just gott...      1
31034           @_franco_33 Yes for good. Out this bitch      1

[31035 rows x 2 columns]

In [9]:
df = df.dropna().reset_index(drop=True)

In [10]:
df.to_csv("../../data/processed/stanford-all.csv", quoting=1)